extends layout
block content
  if registrations.length
    table.listing-table.table-dark.table-striped
      tr
        th Name
        th Email
      tr
      for registration of registrations
        tr
          td= registration.name
          td= registration.email
  else 
    p No registration yet